@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(360deg, rgb(29, 28, 25), rgb(121, 120, 54));
}

body {
  margin: 0;
  background: var(--background);
}

/* ---------CHANGES------------- */
.hero-wrapper {
  margin-top: 20vh;
}
/* ---------CHANGES------------- */

/* ---------------------CSS Background Image Slider Starts Here---------------------- */

.img-slider {
  position: relative;
  width: 1164px;
  height: 766px;
  margin-left: 88px;
  margin-bottom: 40px;
  background: #1d212b;
  box-sizing: border-box;
  border-radius: 6px;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
}

.img-slider .slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
  font-family: "poppins";
  font-weight: 500;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(225, 225, 225, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #d6e926;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}

/* ---------------------CSS Background Image Slider Ends Here---------------------- */

/* ---- THIS CODE IS JUST A DESIGN STARTS HERE------- 


.content {
    height: 200vh;
    background-color: rgb(63, 62, 45);
    display: grid;
    place-items: center;
}

.content a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.content a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 
                0 0 40px #2196f3,
                0 0 80px #2196f3;
    transition-delay: 1s;
}

.content a span {
    position: absolute;
    display: block;
}

.content a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}

.content a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.content a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}

.content a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.content a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px; 
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}

.content a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.content a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px; 
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
}

.content a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
} */

/* --------------- THIS CODE IS JUST A DESIGN ENDS HERE ------- */

/* --------------NAVIGATION Styles Starts Here-------------------- */

/* ---------CHANGES------------- */
header {
  background: var(--background);
  text-align: center;
  position: relative;
  top: 26px;
  max-width: 100%;
  z-index: 999;
  min-height: 16vh;
}
/* ---------CHANGES------------- */

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(166, 187, 47);
  font-family: "poppins";
  font-weight: 700;
}

.nav-toggle {
  display: none;
}

/* ---------CHANGES------------- */
.nav-toggle-label {
  position: absolute;
  top: -22px;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
/* ---------CHANGES------------- */

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(166, 187, 47);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: rgb(166, 187, 47);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  font-family: "poppins";
  font-weight: 600;
}

nav a:hover {
  color: rgb(217, 255, 0);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 700px) {
  .nav-toggle-label {
    display: none;
  }

  /* ------IMMINENET---CHANGES------------- */
  header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: 100000;
    min-height: 20vh;
  }
  /* ------IMMINENET---CHANGES------------- */

  /*---------------Header Sticky Styles Starts Here ----------------*/
  header.sticky {
    padding: 5px 50px;
    background: #fff;
  }

  header.sticky .logo a,
  header.sticky ul li a {
    color: rgb(29, 28, 25);
    margin-left: -15px;
  }

  header.sticky ul li a::before {
    content: "";
    display: block;
    height: 5px;
    background: rgb(131, 134, 45);
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  header.sticky ul li a:hover::before {
    transform: scale(1, 1);
  }
  /*---------------Header Sticky Styles Ends Here ----------------*/

  /* ---------CHANGES------------- */
  header .logo {
    position: relative;
    margin-left: 1.5em;
    margin-top: 0.6em;
  }
  /* ---------CHANGES------------- */
  .logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(166, 187, 47);
    letter-spacing: 3px;
    font-family: "poppins";
    font-weight: 600;
  }
  /* ---------CHANGES------------- */

  nav {
    all: unset;
    display: flex;
  }

  /* --------CHANGES------------- */
  nav ul {
    display: flex;
    width: 100%;
    margin-right: 4em;
    margin-top: 2.8em;
    position: relative;
  }
  /* ------CHANGES------------- */

  nav li {
    list-style: none;
    margin-right: 2em;
    position: relative;
  }

  /* --------CHANGES------------- */
  nav a {
    opacity: 1;
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: "poppins";
    font-weight: 600;
    font-size: 1.3em;
  }
  /* --------CHANGES------------- */

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: rgb(201, 206, 56);
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  /* ---- THIS CODE IS JUST A DESIGN STARTS HERE ------- */

  /* --------CHANGES------------- */
  .logo a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(246, 255, 0);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-size: 1.1em;
  }
  /* --------CHANGES------------- */

  .logo a:hover {
    color: #1f5a8d;
    background: rgb(185, 190, 23);
    box-shadow: 0 0 10px rgb(193, 199, 27), 0 0 40px rgb(201, 207, 32),
      0 0 80px rgb(189, 194, 36);
    transition-delay: 1s;
  }

  .logo a span {
    position: absolute;
    display: block;
  }

  .logo a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(246, 255, 0));
  }

  .logo a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }

  .logo a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(246, 255, 0));
  }

  .logo a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }

  .logo a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(246, 255, 0));
  }

  .logo a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }

  .logo a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(246, 255, 0));
  }

  .logo a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }

  /* ---- THIS CODE IS JUST A DESIGN ENDS HERE ------- */
}

/* --------------CHALET & ROOM SECTION Starts Here------------------- */

/*--------------CHALET SECTION--------------*/

.slider {
  /* height: 100vh; */ /* If you want fullscreen */
  position: relative;
  margin: 60px 30px;
  width: 700px;
  float: left;
  height: 400px;
  user-select: none;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}

.slider:hover {
  box-shadow: 0 14px 28px rgba(22, 7, 163, 0.25),
    0 10px 10px rgba(3, 160, 165, 0.555);
}

.slider > div {
  /* Images default to Center Center. Maybe try 'center top'? */
  /* height: 100vh; */ /* If you want fullscreen */
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  -moz-transition: transform 0.4s;
  -o-transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  border-radius: 10px;
}

.slider > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider > i svg {
  margin-top: 3px;
}

.slider > .left {
  left: 0px;
}
.slider > .right {
  right: 0px;
}
.slider:hover > .left {
  left: 0;
}
.slider:hover > .right {
  right: 0;
}

.slider > i:hover {
  background: rgba(0, 0, 0, 0.568);
  background-color: rgba(0, 0, 0, 0.568);
  transform: translateX(-2px);
}

.slider > i.right:hover {
  transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
  transform: translateY(1px);
}

.slider:hover > div {
  transform: scale(1.01);
}

.hoverZoomOff:hover > div {
  transform: scale(1);
}

/* ---------- Nav-Dots ------ */
.slider > ul {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 4;
  padding: 0;
  margin: 0;
  transform: translateX(-50%);
}

.slider > ul > li {
  background: rgba(0, 0, 0, 0.733);
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  list-style: none;
  float: left;
  margin: 10px 10px 0;
  cursor: pointer;
  border: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider > ul > .showli {
  background-color: #c0b73d;
  -moz-animation: boing 0.5s forwards;
  -o-animation: boing 0.5s forwards;
  -webkit-animation: boing 0.5s forwards;
  animation: boing 0.5s forwards;
}

.slider > ul > li:hover {
  background-color: #fbff06;
}

.slider > .show {
  z-index: 1;
}

.hideDots > ul {
  display: none;
}
/* ---------- Nav-Dots ENDS HERE------ */

@keyframes boing {
  0% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/*------------- CHALET TEXT STARTS HERE ----------- */
.chal-text {
  position: relative;
  float: right;
  top: 240px;
  right: 250px;
}

.chal-text h2 {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 8em;
}

.chal-text h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #bfda27;
}

.chal-text h2:nth-child(2) {
  color: #ffffff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0 30%,
      19% 30%,
      35% 36%,
      48% 42%,
      65% 47%,
      84% 47%,
      100% 38%,
      100% 100%,
      0 100%
    );
  }

  50% {
    clip-path: polygon(
      0 40%,
      13% 64%,
      35% 46%,
      51% 70%,
      71% 52%,
      84% 69%,
      100% 51%,
      100% 100%,
      0 100%
    );
  }
}
/*------------- CHALET TEXT ENDS HERE ----------- */

/*--------------ROOMS SECTION--------------*/

#r1,
#r2,
#r3,
#r4,
#r5 {
  display: none;
}

.room {
  margin: 60px 30px;
  position: relative;
  width: 700px;
  float: right;
  height: 400px;
  user-select: none;
  background-color: #1c1c1c;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}

.room:hover {
  box-shadow: 0 14px 28px rgba(22, 7, 163, 0.25),
    0 10px 10px rgba(3, 160, 165, 0.555);
}

.room .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.room .slide_img img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.room #room_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

#room_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

#room_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(251, 255, 7, 0.9);
  transition: 0.25s;
}

.slide_img {
  z-index: -1;
}

#r1:checked ~ #one-1,
#r2:checked ~ #two-2,
#r3:checked ~ #three-3,
#r4:checked ~ #four-4,
#r5:checked ~ #five-5 {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#r1:checked ~ #room_slide #dot-1,
#r2:checked ~ #room_slide #dot-2,
#r3:checked ~ #room_slide #dot-3,
#r4:checked ~ #room_slide #dot-4,
#r5:checked ~ #room_slide #dot-5 {
  background-color: rgba(251, 255, 7, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 685px) {
  .room {
    border: none;
    width: 100%;
    height: 100%;
    padding-bottom: 55%;
  }

  #room_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}

/*------------- ROOM TEXT STARTS HERE ----------- */
.room-text {
  position: relative;
  top: 180px;
  right: 380px;
  float: left;
}

.room-text h2 {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 8em;
}

.room-text h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #bfda27;
}

.room-text h2:nth-child(2) {
  color: #ffffff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0 40%,
      21% 41%,
      37% 53%,
      55% 64%,
      71% 71%,
      84% 69%,
      100% 51%,
      100% 100%,
      0 100%
    );
  }

  50% {
    clip-path: polygon(
      0 38%,
      15% 51%,
      31% 57%,
      47% 58%,
      63% 48%,
      81% 38%,
      100% 36%,
      100% 100%,
      0 100%
    );
  }
}
/*------------- ROOM TEXT ENDS HERE ----------- */

/* --------------CHALET & ROOM SECTION Ends Here------------------- */


/* -------------PHASE SLIDE VIEW STARTS HERE------------ */
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.jssorb031 {
  position: absolute;
}
.jssorb031 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb031 .i .b {
  fill: #000;
  fill-opacity: 0.5;
  stroke: #fff;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.3;
}
.jssorb031 .i:hover .b {
  fill: #fff;
  fill-opacity: 0.7;
  stroke: #000;
  stroke-opacity: 0.5;
}
.jssorb031 .iav .b {
  fill: #fff;
  stroke: #000;
  fill-opacity: 1;
}
.jssorb031 .i.idn {
  opacity: 0.3;
}
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}
.jssora051:hover {
  opacity: 0.8;
}
.jssora051.jssora051dn {
  opacity: 0.5;
}
.jssora051.jssora051ds {
  opacity: 0.3;
  pointer-events: none;
}
/* -------------PHASE SLIDE VIEW ENDS HERE------------ */

/* -------------TEAM SLIDE VIEW STARTS HERE------------ */

/* -------------TEAM SLIDE VIEW ENDS HERE------------ */

/*--------------- FOOTER SECTION STARTS HERE --------------*/
/* ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
margin-top: 30px;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;

width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

/*--------------- FOOTER SECTION ENDS HERE --------------*/
